.veraoClass {
    background-color: orange;
    color: green;
}

.outunoClass {
    background-color: maroon;
    color: chocolate;
}

.invernoClass {
    background-color: gray;
    color: aqua;
}

primaveraClass {
    background-color: green;
    color: cornflowerblue;
}