/*------------------------------------ configuração geral --------------------------------------------*/
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b6b3b3;     
    background-size:  cover;
    background-repeat: no-repeat;    
    background-position: center center;
}

body a {
    color: rgb(241, 241, 143);
    /*text-decoration: none;  Remove o sublinhado padrão dos links */
}

body a:hover {
    color: #add8e6; /* Azul claro quando passa o mouse */
}

header {    
    background-color: rgba(51, 51, 51, 0.7);
    color: rgb(245, 245, 84);
    padding: 10px;
    text-align: center;    
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;    
}

footer {
    background-color: rgba(51, 51, 51, 0.5);
    color: rgb(245, 245, 84);
    padding: 4px;
    text-align: center;
    align-items: center;
    display: flex;  /*Usar flexbox para alinhar itens na mesma linha */   
    margin-top: 2%;    
}

.footer {
    margin-left: 45%;
}

/*--------------------------------------------------------------------------------------------------*/
#bodyindex {
    background-image: url(imagens/restaurante.png);
}

#bodysobre {
    background-image: url(imagens/comidasobrenos.jpg);
}

#bodycardapio {
    background-image: url(imagens/test2.jpg);
}

#bodycontato {
    background-image: url(imagens/contat.png);
}

section.index {
    max-width: 700px;    
    /*margin: 40px auto;*/
    margin: 5vh auto;     
    margin-left: 50%;
    margin-top: 30%;
    padding: 1px;
    background-color: rgba(243, 238, 238, 0.3);
    border-radius: 5px;
    color:#f5f5f5        
}

section.sobre {   
    max-width: 1200px;    
    /*margin: 40px auto;*/
    margin: 5vh auto;
    margin-left: 18%;    
    margin-top: 2%;
    padding: 20px;
    background-color: rgba(243, 238, 238, 0.6);
    border-radius: 5px;
    color:#d30a0a        
}

section.cardapio {    
    max-width: 1000px;
    /*margin: 40px auto;*/
    margin: 5vh auto;
    margin-left: 25%;
    margin-top: 2%;
    padding: 10px;
    background-color: rgba(243, 238, 238, 0.3);
    border-radius: 5px;
    color: #181717;
    overflow-y: auto;
    max-height: 65vh;  /*Defina uma altura máxima para permitir a rolagem */    
}

/*----------------------------------------- página index ------------------------------------------------*/
.paragrafo{
    align-items: center;    
    width:100%;
    margin-top: 20px;
    margin-left: 45%;
    /*border: 1px solid #ccc;    */
}

.text {
    font-size: 20px;
}

.redes-sociais {           
    margin-top: 20px;    
    width: 50%;
   /* border: 1px solid #ccc;*/
}

.redes-sociais button {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.facebook-btn {
    background-image: url(imagens/face.png);
    border-radius: 5px;
}

.instagram-btn {
    background-image: url(imagens/instagram.png);
    border-radius: 5px;
}

.WhatsApp-btn {
    background-image: url(imagens/zap.png);
    border-radius: 5px;
}

.twitter-btn {
    background-image: url(imagens/twiter.png);
    border-radius: 5px;
}

/*------------------------------------------ página sobre nós ----------------------------------------*/

p {
    text-align: justify;
}

/*----------------------------------- tabela da página cardápio ----------------------------------------*/

#cardapio {    
    margin-left: 45%;    
}

table {
    width: 100%;
    border-collapse: separate; /* Certifica-se de que as bordas das células são desenhadas separadamente */
    /*border-spacing: 10px;  Adiciona espaço entre as células (ajuste conforme necessário) */
}

td, th {
    padding: 10px;
    text-align: left;
    transition: background-color 0.3s ease; /* Adiciona uma transição suave na mudança de cor de fundo */
}

/* Define a cor de fundo padrão para os itens da tabela */
tr:hover {
    background-color: black; /* Cor de fundo ao passar o mouse sobre a linha da tabela */    
    color: #fff;
}

/*------------------------------------------ página contato ----------------------------------------------*/
form {
    max-width: 400px;
    margin: 0 auto;
}

#rodape {

    margin-top: 15%;
    background-color: rgba(0, 0, 0, 0.6);
}

#contatoh2 {
    margin-left: 45%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 18px;
}
textarea {
    width: 100%;
    padding: 50px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 18px;
}

button {
    background-color: #686868;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

button:hover {
    background-color: #555;
}

.redes-sociais button:hover {
    background-color: #5472b8;
}

/*------------------------------------------------------------------------------------------------------*/